        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .header {
            background-image: url('header.jpg');
            background-size: cover;
            background-position: center;
            height: 300px; /* Ajusta la altura según tus necesidades */
            text-align: center;
            color: #fff;
            padding-top: 50px; /* Espaciado superior */
        }
        main {
            background-color: #e6f2ff;/* Azul claro */
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1, h2, h3 {
            color: #333;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        ul li {
            margin-bottom: 5px;
            list-style-type: disc;
        }
		.anidada {
    		padding-left: 20px; /* Tabulación hacia adentro */ /* Elimina la viñeta predeterminada */
		}
		.anidada li{
			margin-bottom: 5px;
		}
		.anidada li::before { 
    		margin-right: 5px; 
			list-style-type: none;
		}
        .skills-container {
            display: flex;
        }
        .skills-column {
            flex: 1;
        }
        .soft-skills {
            margin-left: 20px; /* Ajusta el margen izquierdo para separar las hard skills de las soft skills */
        }
